*.user
*.filters
*.vcxproj
*.pdb
*.idb
*.tlog
*.lastbuildstate
*.log
*.obj
*.sln
*.ilk
*.exe
*.ipch
*.opendb
*.db
*.suo
SimpleProject/SimpleProject/smilehanc1.c
*.enc
SimpleProject/enc_temp_folder/68fb6057cab390a66c1d051e9efeedc/challenge2_2.c
